@media only screen and (max-width:1200px){
    .header_links .link_item .nav-link{
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media only screen and (max-width:1024px){
    .header_links{
        display: none;
    }
    .header .navbar-toggler{
        display: block;
    }
}

@media only screen and (max-width:992px){
    .sign_in_left{
        display: none;
    }
    .sign_in_right{
        width: 100%;
    }
}
@media only screen and (max-width:600px){
    .signin-right{
        padding: 30px 20px;
    }
    .input__wrap h3{
        font-size: 20px;
    }
    .close-icon{
        right: 10px;
    }
}