@media only screen and (max-width:1400px){
    .job-title p{
        max-width: 450px;
    }
}
@media only screen and (max-width:1200px){
    .header_links .link_item .nav-link{
        padding-left: 6px;
        padding-right: 6px;
    }
    .sidebar{
        left: -250px;
    }
    .sidebar.hide{
        left: 0px;
    }
    .Employer_main_content{
        width: 100%;
    }
    .job_title{
        padding-right: 15px;
        margin-top: 10px;
    }
    .overlay-shadow.show-overlay{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color:rgba(0, 0, 0, 0.5);
        inset: 0;
        z-index: 999;
    }
    .search-box{
        margin-left: 0;
    }
    .contact-serach-bar{
        width: 70%;
    }
    .job-filters-wrap{
        width: 30%;
    }
}
@media only screen and (max-width:1100px){
    .navbar .navbar-brand.Employer-navbrand{
        width: 140px;
    }
    .search-box{
        max-width: 400px;
        margin-left: auto;
    }
    .company_cover_photo {
        width: 100%;
        height: calc((100vw - -293px)/6.2 - 1px);
    }
}
@media only screen and (max-width:1024px){
    .header_links{
        display: none;
    }
    .header .navbar-toggler{
        display: block;
    }
    .employer-signup{
        flex-direction: column;
        min-height: auto;
    }
    .employer-signup_left, .employer-signup_right{
        width: 100%;
    }
    .step-navigation_wrap{
        display: flex;
        justify-content: space-between;
    }
    .employer-signup_left_steps-content{
        padding-top: 15px;
    }
    .step-navigation_wrap .step-navigation_item:not(:last-child)::after{
        display: none;
    }
}
@media only screen and (max-width:992px){
    .sign_in_left{
        display: none;
    }
    .sign_in_right{
        width: 100%;
    }
    .home_tab_content, .tabform{
        padding: 30px;
    }
    .company_work_space .container{
        max-width: 100%;
    }
    .job-location p{
        font-size: 15px;
    }
    .job-title p{
        font-size: 15px;
    }
    .job-location img{
        width: 20px;
    }
}
@media only screen and (max-width:850px){
    .job-title p{
        max-width: 350px;
    }
    .step-heading p{
        font-size: 15px;
    }
    .step-navigation_item{
        margin-bottom: 0;
    }
}
@media only screen and (max-width:768px){
    .signin-right{
        max-height: unset;
    }
    .user-nav {
        justify-content: space-between;
    }
    .navbar .search-box{
        display: none;
    }
    .posted-job_item{
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .job-action-btn{
        position: absolute;
        right: 0;
        top: 0;
    }
    .job-action-btn img{
        transform: rotate(90deg);
    }
    .posted-date-and-time{
        width: 100%;
        padding-bottom: 10px;
    }
    .job-title{
        padding-left: 0;
    }
    .nurse-info_wrap{
        flex-direction: column;
    }
    .step-heading p{
        font-size: 13px;
    }
    .step-text-info{
        margin: 0;
    }
}
@media only screen and (max-width:660px){
    .employer-signup_left_steps-content{
        display: none;
    }
    .emplyers-step .step-navigate-text{
        display: block;
        font-family: 'Nunito', sans-serif;
        font-size: 35px;
        line-height: 1.5;
    }
    .employer-signup_right_inner{
        padding: 40px 20px;
    }
    .signup_logo_wrap{
        width: 70px;
        height: 60px;
    }
    .employer-signup_left{
        padding: 10px 20px;
    }
}
@media only screen and (max-width:600px){
    .signin-right{
        padding: 30px 15px;
        overflow-y: unset;
    }
    .input__wrap h3{
        font-size: 20px;
    }
    .close-icon{
        right: 10px;
    }
    .count{
        font-size: 30px;
    }
    .side_by_img_size{
        height: 330px;
    }
    .heading-h3{
        font-size: 35px;
    }
    .banner_content p{
        font-size: 20px;
    }
    .banner_content h1{
        font-size: 45px;
    }
    .home_tab_content, .tabform{
        padding: 25px 10px;
    }
    .home_tab_content h3, .tabform h3{
        font-size: 25px;
    }
    .home_tab_content .count, .tabform .count{
        font-size: var(--theme-font16);
    }
    .get-started_btns a{
        font-size: 16px;
    }
    .step-info{
        font-size: var(--theme-font16);
    }
    .signin-right h2{
        font-size: 22px;
    }
    .info-title{
        font-size: var(--theme-font16);
    }
    .signin-right {
        max-height: unset;
    }
    .h-98{
        height: 98% !important;
    }
    .h-96{
        height: 96% !important;
    }
    .back-icon .close-icon{
        left: 0;
        top: 0;
    }
    .sign_up_Pi.back-icon .close-icon{
        left: -6px;
        top: -18px;
    }
    .sign_up_Pi.back-icon .close-icon {
        left: -7px;
        top: -23px;
    }
    .sign_up_step_5.back-icon .close-icon,
    .sign_up_Qi.back-icon .close-icon, 
    .sign_up_step_9.back-icon .close-icon,
    .sign_up_profile.back-icon .close-icon,
    .sign_up_step_13.back-icon .close-icon,
    .sign_up_countries.back-icon .close-icon
     {
        left: -5px;
        top: -19px;
    }
    .input_group_wrap>div{
        width: 100% !important;
    }
    .hospitals_worked_wrap{
        flex-direction: column;
    }
    .hospitals_worked_wrap .input_for_hospital,
    .hospitals_worked_wrap .input_for_dates{
        width: 100% !important;
    }
    .worked-hospitls{
        padding-top: 40px;
    }
    .quik-question-ask_head_title{
        width: 20%;
        gap: 10px;
    }
    .quik-question_anwser{
        width: 20%;
        gap: 10px;
    }
    .quik-question_anwser>div{
        min-width: auto;
    }
    .quik-question-ask_head_title>div{
        min-width: auto;
    }
    .quik-question{
        width: 90%;
    }
    .sign_up_compeleted.back-icon .close-icon {
        left: -5px;
        top: -17px;
    }
    .required_documents{
        max-height: unset;
    }
    .required_documents .file-upload{
        flex-direction: column  ;
    }
    .required_documents .file-upload label{
        width: 100%;
    }
    .required_documents .file-upload .file-name{
        width: 100%;
    }
    .document-btn{
        line-height: 25px;
    }
    .Upload-document-wrap .file-upload{
        flex-direction: column;
    }
    .Upload-document-wrap .file-upload label{
        width: 100%;
    }
    .Upload-document-wrap .file-upload .file-name{
        width: 100%;
    }
    .reference_screen .input__wrap{
        max-height: unset;
    }
    .company_logo_info .container, .company_work_space .container{
        margin: 0;
        max-width: 100%;
    }
    .company_logo_info, .company_work_space{
        padding-left: 10px;
        padding-right: 10px;
    }
    .employer_logo{
        width: 70px;
        height: 70px;
    }
    .pofile-img-rounded{
        height: 70px;
        width: 70px;
    }
    .job_timing_and_salary{
        flex-wrap: wrap;
        padding-top: 10px;
    }
    .company_work_space .container{
        padding-left: 0;
        padding-right: 0;
    }
    .nurse-search-result-item{
        flex-direction: column;
    }
    .nurse_details{
        width: 100%;
    }
    .job-search-wrapper{
        flex-wrap: wrap;
    }
    .contact-serach-bar, .job-filters-wrap{
        width: 100%;
    }
    .due-payment .checkbox-wrapper-13 label{
        font-size: 20px !important;
    }
    .due-payment .checkbox-wrapper-13 p{
        font-size: 15px;
    }
    .employer-signup .btn-green{
        width: 100%;
    }
}
@media only screen and (max-width:550px){
    .company_work_space .search_result_inner{
        border-radius: 6px;
        min-height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .search_result_inner>div{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }   
    .search_result_inner .search-box{
        width: 100%;
    }
    .search_result_inner .search-box input{
        border-radius: 6px;
    }
    .job-title{
        width: 100%;
    }
    .job-title p{
        max-width: unset;
        width: auto;
    }
    .emplyers-step h2 {
        font-family: 'Roboto';
        font-size: 22px;
        font-weight: 500;
        line-height: 25px;
    }
    .step-header p{
        font-size: 14px;
    }
}
@media only screen and (max-width:425px){
    .side_by_img_size img{
        height: 100%;
    }
    .get-started .nav-tabs .nav-link{
        font-size: var(--theme-font16);
    }
    .action-for-upcoming-iterview a{
        display: none;
    }
    .emplyers-step .step-navigate-text {
        font-size: 27px;
    }
    .step-header{
        gap: 10px;
        flex-direction: column-reverse;
    }
    .back_to_previous{
        width: 100%;
    }
    .packages_item_inner{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .packages_item_left, .packages_item_right{
        width: 100%;
    }
}
@media (min-width: 240px) and (max-width: 479px) {
    .login-form-head,
    .login-form-body {
        padding: 40px 20px;
    }
    .navbar .navbar-brand.Employer-navbrand{
        width: 85px;
    }

}